@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: 'montserrat',roboto;
}

.logo{
    float: right;
    position: absolute;
    top: 1%;
    right: 1px;
    cursor: pointer;
    width: 50rem;
}

.icon-1, .icon-2, .icon-3 {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 5%;
  left: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.37);
  &:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  }
}

.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  
  100% {
    width: 50%;
    opacity: 1;
  }
}

nav {
  background: #252525;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;
  text-decoration: none;
 
    transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
   transition-delay: 100ms;
  ul {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 40%;
    text-decoration: none;
    li {
      list-style: none;
      font-size: 24px;
      color: #fff;
      line-height: 2.2;
      text-transform: uppercase;
      letter-spacing: 1.7px;
      text-decoration: none;
      a{
        color: #ffff;
        text-decoration: none;
      }
      a:hover{
        color: rgb(117, 117, 117);
        text-decoration: none;
        transition: 0.3s all ease-in-out;
      }
    }
  }
}

 nav.show {
   width: 50%;
   opacity: 1;
}


.dark-blue {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  height: 100%;
  width: 0%;
  transition: all 500ms cubic-bezier(.62,.04,.3,1.8);
  transition-delay: 50ms;
  z-index: 5;
  opacity: 1;
}

.dark-blue.slide {
  width: 50%;
  opacity: 1;
}

@keyframes shotup {
  0% {
    transform: translateY(300%) ;
    opacity: 0;
  }
  90% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0%) ;
    opacity: 1;
  }
}

.content {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  h1 {
    color: #ffff;
    font-size: 50px;
    animation: shotup 600ms ease-in-out;
    animation-delay: 300ms;
  }
  h2{
    font-size: 90px;
    color: rgb(160, 160, 160);
    animation: shotup 600ms ease-in-out;
    animation-delay: 300ms;
  }
  p{
    font-size: 50px;
    color: #ffff;
    animation: shotup 600ms ease-in-out;
    animation-delay: 300ms;
  }
  .footer{
    animation: shotup 600ms ease-in-out;
    animation-delay: 300ms;
  }
  ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
  }
}

#content {
  position: absolute;
  top: 40%;
  right: 0;
  width: 50%;
  text-align: right;
  h1 {
    color: #ffff;
    font-size: 50px;
    animation: shotup 600ms ease-in-out;
    animation-delay: 300ms;
  }
  
}

.whatsapp{
  position: absolute;
  width: 100px;
  right: 40px;
  bottom: 15px;
  cursor: pointer;
  padding: 0;
}

#content-footer {
  display: flex;
  justify-content: space-around;

  h2{
    font-size: 50px;
  }
}

#content-footer p{
  width: 600px;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
} 

#container-form{
  display: flex;
  flex-direction: column;

  input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 19px;
    background: #161616;
    border: 1px solid #ffffff;
    color: #fff;
  }

  button{
    font-size: 19px;
    background: #161616;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
}

.container-estamos{
  text-align: left;

  li{
    text-decoration: none;
    list-style: none;
  }
}

.container-estamos ul{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 25px;
  color: #ffff;
  padding: 0;
}

#nosotros{
  background: #000000;
  color: #ffff;
}

.content-nosotros{
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  h2{
    font-size: 110px;
    float: left;
    font-weight: bold;
    animation: shotup 600ms ease-in-out;
    animation-delay: 300ms;
   }
   h3{
      float: right;
      font-size: 30px;
      max-width: 500px;
      font-weight: bolder;
      margin-top:80px;
    }
}

#desde{
  float: left;

  p{
    font-size: 20px;
    line-height: 30px;
    margin: 100px;
  }
}

.tarjet{
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
   
  display: grid;
   
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.content-tarjet{
  width: 300px;
  margin: 0 auto;
  font-size: 20px;
 h3{
  font-weight: bolder;
  font-size: 40px;
  padding: 10px 0px 10px 0px;
    p{
     text-align: justify; 
    }
  } 
}

.youtube{
  text-align: center;
  margin-top: 150px;
} iframe{
  width: 100%;
  height: 700px;
}

.imagen{
  text-align: center;
  margin-top: 200px;
  img{
    border: 1px solid white;
  } h2{
    padding-top: 10px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
  } p{
    font-size: 15px;
    text-transform: uppercase;
  } .linea{
    width: 200px;
    border-bottom: 2px solid white;
    margin: 0 auto;
    padding: 5px;
  } .linkedin{
    font-size: 50px;
    margin: 20px;
    color: #0D66C2;
    background: white;
    padding: 1px 4px 1px 3px;
    border-radius: 10%;
  } .linkedin:hover{
    color: red;
    font-size: 55px;
    transition: 0.5s ease-in-out all;
  }
}

.derechos{
  text-align: center;
  margin-top: 150px;
  font-size:13px;
}